.nav-black {
  color: black !important;
  text-decoration: underline !important;
}
<style>
@import url('https://fonts.googleapis.com/css?family=Bungee|Space+Mono:400,700');
</style>

.padding-top {
  padding-top: 25px;
}
